# SkillUp Academy Backend Environment Configuration Template
PORT=8080

# MySQL Database Credentials
DB_HOST=srv1427.hstgr.io
DB_PORT=3306
DB_USER=u859677653_check_in
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=u859677653_check_in_db
